doctype html
html
  head
    title Awesome Video Player
    script.
      var roomName = "#{roomName}";

  body
    nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          span.navbar-brand
            a(href="/").brand Awesome Video Player
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.icon-bar
              a #{roomName}
    .container
      .row
        .col-md-9
          form.input-group.prevent-default
            input#name.form-control(type='text')
            span.input-group-btn
              input#update_name.btn.btn-primary(type='submit', value='change your name')

          form.input-group.prevent-default
            input#video_url.form-control(type="text", placeholder="video mp4 url here")
            span.input-group-btn
              input#change_url.btn.btn-primary(type="submit", value="Change video")

          div
            span#current_video Nothing

          #video_area
            video#main_video(controls)
               source(src="public/sample.mp4", type='video/mp4')

        .col-md-3
          .panel.panel-info
            .panel-heading People connected
            #connected_clients

          #my-webcam

          #friends-webcams

  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
  script(src="//code.jquery.com/jquery-1.10.2.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/vendor/simple-webrtc.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")

  <!-- App stuff -->
  link(rel="stylesheet", href="/public/css/main.css")
  script(src="/public/js/socket.js")
  script(src="/public/js/main.js")
  script(src="/public/js/webrtc.js")
