body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#main_video {
    display: block;
    width: 100%;
}

#join_room input {
    height: 2em;
    font-size: 1.25em;
}

.github {
    float: right;
}

.description {
    padding-left: 1em;
}